/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.even{
    background-color: salmon;
    color: white;
   
}

.odd{
    background-color: steelblue;
    color: white
}